* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  display: flex;
  flex-direction: column;
  overflow-x: hidden; /* 禁止水平滚动 */
  min-height: 100vh; /* 确保body至少占据整个视口高度 */
}
.navbar {
  position: absolute;
  width: 100vm;
  height: 100%; /* 确保导航栏高度占满整个视口 */
}
.navbar input {
  display: none;
}
.navbar label {
  position: absolute;
  top: 0;
  left: 70px;
  width: 100%;
  height: 43px;
  padding-left: 20px;
  font-size: 30px;
  color: #5a738e;
  background-color: #ededed;
  cursor: pointer;
  transition: all 0.5s;
}
.navbar ul {
  overflow: hidden;
  list-style: none;
  width: 70px;
  height: 100vh;
  background-color: #2a3f54;
  transition: all 0.5s;
}
.navbar ul li {
  height: 70px;
  margin-bottom: 10px;
}
/* :first-child选择器 选择到ul下面的第一个元素 */
.navbar ul li:first-child {
  /* 弹性布局 让元素在该盒子内垂直+水平居中 */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
}
.navbar ul li:first-child img {
  width: 40px;
  border-radius: 50%;
}
.navbar ul li:first-child span {
  /* 先把文字隐藏起来 */
  display: none;
  color: #fff;
  /* 文字禁止换行 */
  white-space: nowrap;
  padding-left: 10px;
  font-size: 18px;
}
.navbar ul li a {
  /* 弹性布局 */
  display: flex;
  justify-content: center;
  align-items: center;
  /* 这个属性改变了弹性盒子的主轴方向 现在主轴方向向下 元素也就垂直排列 */
  flex-direction: column;
  width: 100%;
  height: 100%;
  color: #fff;
  /* 取消文字的下划线 */
  text-decoration: none;
}
.navbar ul li a i {
  font-size: 25px;
  margin-bottom: 10px;
}
.navbar ul li.active a {
  color: #78b2f9;
  background-color: #35495d;
}
.navbar ul li a span {
  font-size: 10px;
  white-space: nowrap;
}
.navbar ul li a:hover {
  color: #fff;
  background-color: #35495d;
}
/* :checked选择器判断复选框是否被选中 */
/* +是相邻兄弟选择器 找到了input的下一个兄弟label */
.navbar input:checked + label {
  left: 200px;
}
/* ~也是兄弟选择器 但是可以找到隔了几代的兄弟 */
.navbar input:checked ~ ul {
  width: 200px;
}
.navbar input:checked ~ ul li:first-child {
  /* 改变了弹性项目在弹性盒子内的水平排列方式为从开头排序 */
  justify-content: flex-start;
}
.navbar input:checked ~ ul li:first-child span {
  /* 文字显示 */
  display: block;
}
.navbar input:checked ~ ul li a {
  /* 改变了主轴的方向为默认值 水平排列 */
  flex-direction: row;
  /* 改变了弹性项目在弹性盒子内的水平排列方式为从开头排序 */
  justify-content: flex-start;
}
.navbar input:checked ~ ul li a i {
  font-size: 20px;
  margin: 0 15px;
}
.navbar input:checked ~ ul li a span {
  font-size: 15px;
}

.user-info {
  position: absolute;
  right: 10px;
  cursor: pointer;
}

.user-avatar {
  width: 45px;
  height: 43px;
  border-radius: 20px;
  transition: transform 0.3s ease;
}

.user-actions {
  display: none;
  position: absolute;
  background-color: #5a738e;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12);
}

.user-action {
  margin: 5px 0;
  text-align: center;
  color: #fff;
  text-decoration: none;
}

.user-info:hover .user-actions {
  display: block;
}

/* 回到顶部 */
.toolkit a {
  position: fixed; /* 固定定位，相对于浏览器窗口 */
  right: 20px; /* 距离右侧20px */
  bottom: 20px;
  width: 150px;
  height: 174px;
  background: url("../static/back.png") no-repeat;
  background-size: cover;
  z-index: 999;
}
.toolkit a:hover {
  animation: back 0.5s steps(5) infinite;
}
@keyframes back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -750px 0;
  }
}

/* 美化模态窗口样式 */
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5); /* 半透明背景 */
  align-items: center;
  justify-content: center;
}

/* 模态内容框 */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: auto;
  max-width: 1000px; /* 设置最大宽度限制 */
}

/* 模态窗口头部 */
.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
  margin-bottom: 15px;
  text-align: center; /* 标题居中 */
  border-bottom: none; /* 移除边框 */
  padding-bottom: 0; /* 移除底部内边距 */
}

/* 模态窗口主体 */
.modal-body {
  display: flex;
  flex-direction: column;
  align-items: left;
  padding: 10px;
}

/* 模态窗口底部 */
.modal-footer {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
}

/* 表单样式 */
.modal form {
  display: flex;
  flex-direction: column;
}

.modal label {
  font-weight: bold;
  margin-bottom: 5px;
}

.modal form input[type="text"],
.modal form input[type="file"],
.modal form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.modal form input[type="file"] {
  padding: 5px 10px;
}
.modal button {
  padding: 10px 20px;
  margin: 0 5px;
  border: none;
  border-radius: 5px;
  background-color: #5a738e;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
  flex-grow: 1; /* 按钮占据可用空间 */
}

/* 保存按钮样式 */
#saveProfile {
  background-color: #1890ff;
}

/* 取消按钮样式 */
#cancelProfile {
  background-color: #dcdfe6;
}

/* 按钮悬停效果 */
.modal button:hover {
  opacity: 0.9;
}

/* 关闭按钮的样式 */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* 输入框和文本域的样式 */
#announcementTitle,
#announcementContent {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box; /* 边框计算在宽度内 */
}

/* 保存按钮的样式 */
#saveAnnouncement {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#saveAnnouncement:hover {
  background-color: #0056b3;
}

#cancelAnnouncement {
  background-color: #dcdfe6;
  color: white;
  padding: 10px 20px;
  margin: 10px 0;
  margin-left: 30px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.top-title {
  position: absolute;
  top: 0;
  left: 70px;
  width: 100%;
  height: 43px;
  background-color: #ededed;
  /* border: 1px solid #d9dee4; */
  z-index: -1; /* 设置较低的层叠级别 */
}

.main-container {
  flex: 1; /* 占据剩余空间 */
  max-height: calc(100vh - 43px - 50px);
  padding: 20px; /* 添加内边距 */
  margin-top: 43px;
  overflow: auto; /* 如果内容溢出，允许滚动 */
  margin-left: 100px; /* 初始左侧外边距 */
  transition: margin-left 0.3s ease; /* 添加过渡效果 */
}
section {
  margin-bottom: 20px;
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12), 0 0 6px rgba(0, 0, 0, 0.04);
  padding: 20px;
}
/* 课程通知区域样式 */
#announcements {
  margin-bottom: 20px; /* 保留底部边距 */
  background-color: #ffffff; /* 背景颜色 */
  border-radius: 8px; /* 增加圆角 */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 0 6px rgba(0, 0, 0, 0.04); /* 轻微的阴影 */
  padding: 20px; /* 内衬 */
  overflow: hidden; /* 确保子元素不超出边界 */
}

/* 课程通知标题样式 */
#announcements h2 {
  margin: -20px -20px 20px; /* 与容器边框对齐 */
  background-color: #f0f0f0; /* 轻微的灰色背景 */
  border-radius: 8px 8px 0 0; /* 圆角只在上边缘 */
  padding: 10px 20px; /* 内衬 */
  font-size: 1.25rem; /* 标题字体大小 */
  color: #333; /* 标题字体颜色 */
}

/* 课程通知列表容器样式 */
#announcementsList {
  margin-top: 10px; /* 与标题的间距 */
}

/* 单个课程通知样式 */
.announcement {
  background-color: #e8f3f8;
  border-left: 4px solid #3578e5;
  border-radius: 4px;
  padding: 15px 20px;
  margin-bottom: 10px;
  transition: background-color 0.3s ease;
}

.announcement:hover,
.announcement:focus {
  background-color: #d5e4fd;
}

#more-announcements {
  display: inline-block;
  padding: 10px 20px;
  margin-top: 20px;
  color: #ffffff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

#more-announcements:hover {
  opacity: 0.9;
}

#new-announcement {
  display: inline-block;
  padding: 10px 20px;
  margin-left: 10px;
  color: #ffffff;
  background-color: rgb(5, 175, 5);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

#new-announcement:hover {
  opacity: 0.9;
}

#problem-list h2 {
  margin: -20px -20px 20px;
  background-color: #f0f0f0;
  border-radius: 8px 8px 0 0;
  padding: 10px 20px;
  font-size: 1.25rem;
  color: #333;
}

#problem-list ul {
  list-style: none;
  padding: 0;
  margin: 0;
  font-family: "Arial", sans-serif;
  background-color: #ffffff;
}

/* 列表项样式 */
#problem-list li {
  padding: 1rem;
  background-color: #f5f5f5; /* 柔和的背景色 */
  border-radius: 8px; /* 轻微的圆角 */
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1); /* 轻微的阴影 */
  margin-bottom: 0.5rem; /* 列表项之间的间隔 */
  transition: box-shadow 0.3s ease; /* 平滑的阴影过渡效果 */
}

/* 移除最后一个列表项的下边框 */
#problem-list li:last-child {
  margin-bottom: 0; /* 移除最后一个列表项的底部间隔 */
}

#problemListUl .problem-item {
  cursor: pointer;
  padding: 1rem;
  background: #e8f0fe; /* 淡蓝色背景，突出标题 */
  border-left: 4px solid #3578e5; /* 左侧边框，增加层次感 */
  margin-bottom: 0.5rem; /* 列表项间距 */
  border-radius: 4px; /* 圆角 */
  transition: background-color 0.3s ease; /* 背景色变化过渡效果 */
}

#problemListUl .problem-item:hover,
#problemListUl .problem-item:focus {
  background-color: #d5e4fd; /* 悬停时背景色变浅 */
}

/* 实验问题详情样式 */
#problemListUl .problem-details {
  background-color: #ffffff; /* 白色背景 */
  padding: 1rem;
  margin-top: 0.5rem;
  border-radius: 4px; /* 圆角 */
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1); /* 轻微的阴影 */
  display: none; /* 默认不显示详情 */
}

/* 响应式设计 */
@media (max-width: 768px) {
  #problem-list li {
    padding: 0.5rem;
  }

  #problemListUl .problem-item,
  #problemListUl .problem-details {
    padding: 0.5rem;
  }
}

#search-container input,
#search-container button {
  padding: 10px;
  margin: 5px 0;
  border-radius: 4px;
  border: 1px solid #dcdfe6;
}

#search-button {
  background-color: #3578e5;
  color: white;
  cursor: pointer;
}

#search-container button:hover {
  background-color: #78b2f9;
}

#reset-button {
  background-color: white;
  color: black;
  cursor: pointer;
}

footer {
  background-color: #5a738e;
  color: white;
  text-align: center;
  padding: 10px 0;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
}

/* 通知角标动画效果 */
@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
    opacity: 1;
  }
  40% {
    transform: translateY(-10px);
    opacity: 0.8;
  }
  60% {
    transform: translateY(-5px);
    opacity: 0.9;
  }
}

.notification-badge {
  position: relative;
  top: -20px;
  right: 10px;
  margin-left: 100px;
  color: #fff;
  background-color: #ff3b3b;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  line-height: 15px;
  text-align: center;
  font-size: 12px;
  animation: bounce 2s infinite;
  animation-timing-function: ease-in-out;
}

.notification-badge:hover {
  animation: none;
  background-color: #ff6262;
}

.notification-badge[hidden] {
  display: none;
}
