* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  overflow: hidden;
  position: relative;
}
.navbar {
  position: relative;
  width: 100vm;
}
.navbar input {
  display: none;
}
.navbar label {
  position: absolute;
  top: 0;
  left: 70px;
  width: 100%;
  height: 43px;
  padding-left: 20px;
  font-size: 30px;
  color: #5a738e;
  background-color: #ededed;
  border: 1px solid #d9dee4;
  cursor: pointer;
  transition: all 0.5s;
}
.navbar ul {
  overflow: hidden;
  list-style: none;
  width: 70px;
  height: 100vh;
  background-color: #2a3f54;
  transition: all 0.5s;
}
.navbar ul li {
  height: 70px;
  margin-bottom: 10px;
}
/* :first-child选择器 选择到ul下面的第一个元素 */
.navbar ul li:first-child {
  /* 弹性布局 让元素在该盒子内垂直+水平居中 */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
}
.navbar ul li:first-child img {
  width: 40px;
  border-radius: 50%;
}
.navbar ul li:first-child span {
  /* 先把文字隐藏起来 */
  display: none;
  color: #fff;
  /* 文字禁止换行 */
  white-space: nowrap;
  padding-left: 10px;
  font-size: 18px;
}
.navbar ul li a {
  /* 弹性布局 */
  display: flex;
  justify-content: center;
  align-items: center;
  /* 这个属性改变了弹性盒子的主轴方向 现在主轴方向向下 元素也就垂直排列 */
  flex-direction: column;
  width: 100%;
  height: 100%;
  color: #fff;
  /* 取消文字的下划线 */
  text-decoration: none;
}
.navbar ul li a i {
  font-size: 25px;
  margin-bottom: 10px;
}
.navbar ul li a span {
  font-size: 10px;
  white-space: nowrap;
}
.navbar ul li a:hover {
  color: #fff;
  background-color: #35495d;
}
/* :checked选择器判断复选框是否被选中 */
/* +是相邻兄弟选择器 找到了input的下一个兄弟label */
.navbar input:checked + label {
  left: 200px;
}
/* ~也是兄弟选择器 但是可以找到隔了几代的兄弟 */
.navbar input:checked ~ ul {
  width: 200px;
}
.navbar input:checked ~ ul li:first-child {
  /* 改变了弹性项目在弹性盒子内的水平排列方式为从开头排序 */
  justify-content: flex-start;
}
.navbar input:checked ~ ul li:first-child span {
  /* 文字显示 */
  display: block;
}
.navbar input:checked ~ ul li a {
  /* 改变了主轴的方向为默认值 水平排列 */
  flex-direction: row;
  /* 改变了弹性项目在弹性盒子内的水平排列方式为从开头排序 */
  justify-content: flex-start;
}
.navbar input:checked ~ ul li a i {
  font-size: 20px;
  margin: 0 15px;
}
.navbar input:checked ~ ul li a span {
  font-size: 15px;
}

.user-profile {
  position: absolute;
  top: 5px;
  right: 10px;
  cursor: pointer;
}

.user-avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  transition: transform 0.3s ease;
}

.user-avatar:hover {
  transform: scale(1.1);
}

.user-options {
  position: absolute;
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  padding: 5px 0;
  display: none;
  top: 60px;
  right: 0;
}

.user-options a {
  display: block;
  padding: 5px 15px;
  text-decoration: none;
  color: #333;
}

.user-options a:hover {
  background-color: #f4f4f4;
}

/* 回到顶部 */
.toolkit a {
  position: fixed; /* 固定定位，相对于浏览器窗口 */
  right: 20px; /* 距离右侧20px */
  bottom: 20px;
  width: 150px;
  height: 174px;
  background: url("../static/back.png") no-repeat;
  background-size: cover;
  z-index: 999;
}
.toolkit a:hover {
  animation: back 0.5s steps(5) infinite;
}
@keyframes back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -750px 0;
  }
}
